In [3]:
from bs4 import BeautifulSoup as bs
import requests
import pymongo
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [4]:
 # Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [/Users/daisyzhang/.wdm/drivers/chromedriver/mac64/97.0.4692.71/chromedriver] found in cache

## NASA Mars News

In [5]:
url = "https://redplanetscience.com/"
browser.visit(url)

In [6]:
html = browser.html
soup = bs(html, 'html.parser')

In [7]:
# scraping the news title with tage and class name 
titles = soup.find_all('div', class_='content_title')

for news_title in titles:
    print('title:')
    print(news_title.text + "\n")

title:
Alabama High School Student Names NASA's Mars Helicopter

title:
3 Things We've Learned From NASA's Mars InSight

title:
NASA Wins 4 Webbys, 4 People's Voice Awards

title:
Air Deliveries Bring NASA's Perseverance Mars Rover Closer to Launch

title:
Screening Soon: 'The Pathfinders' Trains Lens on Mars

title:
Two Rovers to Roll on Mars Again: Curiosity and Mars 2020

title:
Space History Is Made in This NASA Robot Factory

title:
Mars InSight Lander to Push on Top of the 'Mole'

title:
Global Storms on Mars Launch Dust Towers Into the Sky

title:
NASA's Push to Save the Mars InSight Lander's Heat Probe

title:
Scientists Explore Outback as Testbed for Mars

title:
NASA's Mars 2020 Rover Tests Descent-Stage Separation

title:
NASA's Treasure Map for Water Ice on Mars

title:
5 Hidden Gems Are Riding Aboard NASA's Perseverance Rover

title:
NASA's Briefcase-Size MarCO Satellite Picks Up Honors

In [8]:
# scraping news paragraph 
paragraphs  = soup.find_all('div', class_='article_teaser_body')

for news_p in paragraphs:
    print('news body:')
    print(news_p.text + "\n")

news body:
Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.

news body:
Scientists are finding new mysteries since the geophysics mission landed two years ago.

news body:
Winners include the JPL-managed "Send Your Name to Mars" campaign, NASA's Global Climate Change website and Solar System Interactive.

news body:
A NASA Wallops Flight Facility cargo plane transported more than two tons of equipment — including the rover's sample collection tubes — to Florida for this summer's liftoff.

news body:
With the Mars 2020 mission ramping up, the documentary — the first of four about past JPL missions to the Red Planet to be shown at Caltech — tells a gripping backstory.

news body:
They look like twins. But under the hood, the rover currently exploring the Red Planet and the one launching there this summer have distinct science tools and roles to play.

news body:
From rockets to rovers, JPL's Spacecraft Assembly Facility has been at the center of robotic spaceflight. Here's a closer look at what makes it so special.

news body:
Engineers have a plan for pushing down on the heat probe, which has been stuck at the Martian surface for a year.

news body:
A Mars Dust Tower Stands Out Dust storms are common on Mars. But every decade or so, something unpredictable happens: a series of runaway storms break out, covering the entire planet in a dusty haze.

news body:
The scoop on the end of the spacecraft's robotic arm will be used to 'pin' the mole against the wall of its hole.

news body:
Australia provides a great place for NASA's Mars 2020 and the ESA-Roscosmos ExoMars scientists to hone techniques in preparation for searching for signs ancient life on Mars.

news body:
A crane lifts the rocket-powered descent stage away from NASA's Mars 2020 rover after technicians tested the pyrotechnic charges that separate the two spacecraft.

news body:
A new study identifies frozen water just below the Martian surface, where astronauts could easily dig it up.

news body:
The symbols, mottos, and small objects added to the agency's newest Mars rover serve a variety of purposes, from functional to decorative.

news body:
The twin spacecraft, the first of their kind to fly into deep space, earn a Laureate from Aviation Week & Space Technology.

## JPL Mars Space Images - Featured Image

In [9]:
jpl_url = "https://spaceimages-mars.com/"
browser.visit(jpl_url)

In [10]:
html = browser.html
soup = bs(html, 'html.parser')

In [11]:
featured_image_url = soup.find('img',class_="headerimage fade-in")['src']

In [12]:
featured_image_url

'image/featured/mars3.jpg'

## Mars Facts

In [13]:
fact_url = "https://galaxyfacts-mars.com/"

In [14]:
# read from url
tables = pd.read_html(fact_url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [15]:
fact_df=tables[0]
fact_df.head()

fact_df = fact_df.rename(columns={0:"Mars - Earth Comparison",1:"Mars",2:"Earth"})

In [16]:
fact_df = fact_df.drop([0, 0])
fact_df.set_index("Mars - Earth Comparison",inplace=True)

In [17]:
fact_df

                                    Mars            Earth
Mars - Earth Comparison
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [18]:
# generate HTML tables from DataFrames
html_table = fact_df.to_html()
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars</th>      <th>Earth</th>    </tr>    <tr>      <th>Mars - Earth Comparison</th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Diameter:</th>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>Moons:</th>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>Distance from Sun:</th>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>Length of Year:</th>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>Temperature:</th>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

## Mars Hemispheres

In [83]:
hemis_url = "https://marshemispheres.com/"
browser.visit(hemis_url)

In [84]:
html = browser.html
soup = bs(html, 'html.parser')

In [85]:
images = soup.find_all('div', class_="description")

In [89]:
hemisphere_image_urls = []
for image in images:
        # Error handling
        try:
            # Extract href
            href = image.a['href']
            text = image.h3.text
            browser.visit(hemis_url + url)
            
            html=browser.html
            soup=bs(html,'html.parser')
            image_src=soup.find('li').a['href']
        
            image_url = soup.find('img',class_="wide-image")['src']
            print(text + ": \n"+ image_url + "\n")
            
            hemisphere_dict={
                "titles" : text,
                "img_url" :  image_url
            }
            
            hemisphere_image_urls.append(hemisphere_dict)
            
        except Exception as e:
            print(e)

Cerberus Hemisphere Enhanced:
images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg

Schiaparelli Hemisphere Enhanced:
images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg

Syrtis Major Hemisphere Enhanced:
images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg

Valles Marineris Hemisphere Enhanced:
images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg